<div class="card panel">
  <div class="card-header">
    <div class="header">
      <div class="row">
        <div class="col-sm-4">
          <h3>Posts</h3>
        </div>
        <div class="col-sm-5">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Username"
              aria-describedby="basic-addon1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-images page" style="color: #9c27b0 "></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12 type">
                <h6>Type: <span style="color: #9c27b0 ">Photo</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
This is My content posts
#dorkbouakham
            </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #02d6e6"></i> Hangmi</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-file-video page" style="color: #2196f3"></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12">
                <h6>Type: <span style="color: #2196f3">Video</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
    This is My content posts
    #dorkbouakham
                </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #aa66cc"></i> Lao Apps</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-video page" style="color: #e91e63"></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12 type">
                <h6>Type: <span style="color: #e91e63">Live</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
  This is My content posts
  #dorkbouakham
              </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #ffbb33"></i> Dorkbouakham</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-images page" style="color: #0ab326"></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12 type">
                <h6>Type: <span>Photo</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
      This is My content posts
      #dorkbouakham
                  </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #aa66cc"></i> Lao Apps</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-images page" style="color: #9c27b0 "></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12 type">
                <h6>Type: <span style="color: #9c27b0 ">Photo</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
  This is My content posts
  #dorkbouakham
              </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #02d6e6"></i> Hangmi</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-file-video page" style="color: #2196f3"></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12">
                <h6>Type: <span style="color: #2196f3">Video</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
      This is My content posts
      #dorkbouakham
                  </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #aa66cc"></i> Lao Apps</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-video page" style="color: #e91e63"></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12 type">
                <h6>Type: <span style="color: #e91e63">Live</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
    This is My content posts
    #dorkbouakham
                </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #ffbb33"></i> Dorkbouakham</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-images page" style="color: #9c27b0"></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12 type">
                <h6>Type: <span style="color: #9c27b0">Photo</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
        This is My content posts
        #dorkbouakham
                    </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #aa66cc"></i> Lao Apps</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-images page" style="color: #9c27b0 "></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12 type">
                <h6>Type: <span style="color: #9c27b0 ">Photo</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
  This is My content posts
  #dorkbouakham
              </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #02d6e6"></i> Hangmi</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-post">
            <div class="row">
              <div class="col-md-9 postId">
                <b><i class="sidebar-item-icon fa fa-file-video page" style="color: #2196f3"></i> 45646234561654315</b>
              </div>
              <div class="col-md-3 comment">
                <h2><i class="fas fa-comment-dots" data-toggle="modal" data-target="#addModal"></i></h2>
              </div>
              <div class="col-md-12">
                <h6>Type: <span style="color: #2196f3">Video</span></h6>
              </div>
              <div class="col-md-12 content">
                <label>Content:</label>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" rows="3">
      This is My content posts
      #dorkbouakham
                  </textarea>
              </div>
              <div class="col-md-12 d-flex">
                <h6><i class="sidebar-item-icon fa fa-flag page" style="color: #aa66cc"></i> Lao Apps</h6>
                <h6 class="time">2021-10-11 22:00</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-8">
          <h5><i class="sidebar-item-icon fa fa-images page" style="color: #9c27b0 "></i> 45646234561654315</h5>
        </div>
        <div class="col-md-">
          <div class="input-group mb-1">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Username"
              aria-describedby="basic-addon1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Comment Text</th>
              <th>Comment ID</th>
              <th>Time</th>
              <th>Page</th>
              <th>Customer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CF 123</td>
              <td>5464128541544545</td>
              <td>2021-10-12 20:00</td>
              <td>Hangmi</td>
              <td>Philavan</td>
            </tr>
            <tr>
              <td>Hello</td>
              <td>5464128541544545</td>
              <td>2021-10-12 20:00</td>
              <td>Hangmi</td>
              <td>Niphon</td>
            </tr>
            <tr>
              <td>I love you</td>
              <td>5464128541544545</td>
              <td>2021-10-12 20:00</td>
              <td>Hangmi</td>
              <td>Shiphandone</td>
            </tr>
            <tr>
              <td>help me please</td>
              <td>5464128541544545</td>
              <td>2021-10-12 20:00</td>
              <td>Hangmi</td>
              <td>Keovithoun</td>
            </tr>
            <tr>
              <td>Style</td>
              <td>5464128541544545</td>
              <td>2021-10-12 20:00</td>
              <td>Hangmi</td>
              <td>Khamlar</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex modal-close">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">&raquo;</a>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
