<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-black font-weight-bold">
          <div class="row">
            <div class="col-md-8">
              <h3>Comment</h3>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Username"
                  aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Comment</th>
                <th>DateTime</th>
                <th>Posts ID</th>
                <th>Page</th>
                <th>Customer</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
              <tr>
                <td>This is my comment</td>
                <td>2021-10-12 20:00</td>
                <td>258391454564657</td>
                <td>Hangmi</td>
                <td>Khamlar</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#" class="active">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">&raquo;</a>
              </div>
            </div>
            <div class="col-md-6 add">
              <!-- <button class="btn btn-info" data-toggle="modal" data-target="#addModal">Add Customer</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
