<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-black font-weight-bold">
          <div class="row">
            <div class="col-md-8">
              <h3>User</h3>
            </div>
            <div class="col-md-4">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Username"
                  aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phonenumber</th>
                <th>Username</th>
                <th>Password</th>
                <th>Date Time</th>
                <th>Manage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
              <tr>
                <td>Nicky</td>
                <td>02056545254</td>
                <td>admin</td>
                <td>123456789</td>
                <td>2021-10-12 20:00</td>
                <td>
                  <button class="btn btn-update" data-toggle="modal" data-target="#addModal" (click)="onUpdate()">
                    <i class="fa fa-edit"></i> &nbsp;Update </button>
                  <button class="btn btn-delete" (click)="confirmDelete()">
                    <i class="fa fa-trash"></i>&nbsp;Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-6">
              <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#" class="active">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">&raquo;</a>
              </div>
            </div>
            <div class="col-md-6 add">
              <button class="btn btn-info" data-toggle="modal" data-target="#addModal" (click)="onAdd()">Add
                Customer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal add and update -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="isModal === 'add'" class="modal-title" id="exampleModalLabel"> Add User </h5>
          <h5 *ngIf="isModal === 'update'" calss="modal-title" id="exampleModalLabel"> Edit User </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" id="inputName" placeholder="Name..." />
            </div>
            <div class="form-group">
              <label>Phonenumber</label>
              <input type="text" class="form-control" id="inputID" placeholder="Phonenumber..." />
            </div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" id="inputID" placeholder="Username..." />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" id="inputID" placeholder="Password..." />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onInsert()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
